 #calendario {
     min-height: 500px;
 }

 .fc .fc-daygrid-day.fc-day-today {
     background-color: #eef2ff !important;
 }

 .fc .fc-daygrid-day.fc-day-other {
     background-color: #f4f4f5 !important;
     color: #888 !important;
     font-weight: normal;
 }

 .fc .fc-button-primary {
     background-color: #4F46E5 !important;
     border-color: #4F46E5 !important;
 }

 .fc .fc-button-primary:disabled {
     background-color: #4F46E5 !important;
     border-color: #98a0e4 !important;
 }

 .fc .fc-button-primary:focus {
     outline: none !important;
     box-shadow: none !important;
 }

 /* Cor verde (#28a745) para os dias de outros meses */
 .fc .fc-daygrid-day.fc-day-other {
     background-color: #ededf2 !important;
     color: #085417 !important;
     font-weight: bold;
 }

 .fc .fc-daygrid-day.past-date,
 .fc-day-disabled {
     background-color: #f9fafb !important;
     opacity: 0.5;
     color: #9ca3af !important;
     pointer-events: none;
     cursor: not-allowed;
 }

 .fc-day-selected {
     background-color: #bbf7d0 !important;
     color: #4f47e6 !important;
     font-weight: bold;
 }

 .horario-bloqueado {
     background-color: #fee2e2 !important;
     color: #990000 !important;
     cursor: not-allowed !important;
 }

 .horario-selecionado {
     background-color: #bbf7d0 !important;
     color: #016624 !important;
     font-weight: bold;
 }

 @media (max-width:500px) {
     .fc .fc-toolbar-title {
         font-size: 14px !important;
     }

     .fc .fc-col-header-cell-cushion {
         font-size: 12px !important;
     }
 }

 #horarios button {
     opacity: 1 !important;
     filter: none !important;
 }

 html {
     scroll-behavior: smooth;
 }

 .text-highlight {
     position: relative;
     display: inline-block;
     z-index: 1;
 }

 .text-highlight::after {
     content: '';
     position: absolute;
     bottom: 5px;
     left: -2px;
     right: -2px;
     height: 12px;
     background-color: rgba(167, 139, 250, 0.4);
     z-index: -1;
     border-radius: 2px;
 }

 .cta-button {
     position: relative;
     overflow: hidden;
     transition: all 0.3s ease;
 }

 .cta-button:hover {
     transform: translateY(-3px);
     box-shadow: 0 10px 20px -5px rgba(79, 70, 229, 0.4);
 }


 .testimonial-card {
     transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

 .testimonial-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
 }

 .whatsapp-btn {
     height: 60px;
     width: 60px;
     animation: pulse 3s infinite;
 }


 @keyframes pulse {
     0% {
         box-shadow: 0 0 0 0 rgba(79, 70, 229, 0.7);
     }

     50% {
         box-shadow: 0 0 0 15px rgba(79, 70, 229, 0);
     }

     100% {
         box-shadow: 0 0 0 0 rgba(79, 70, 229, 0);
     }
 }

 /* Botão Voltar ao Topo */
 .back-to-top {
     position: fixed;
     bottom: 100px;
     right: 35px;
     background: #4F46E5;
     color: white;
     width: 55px;
     height: 55px;
 }

 .back-to-top:hover {
     background: #4338CA;
     transform: translateY(-3px);
 }

 .floating-btn {
     opacity: 0;
     visibility: hidden;
     transition: opacity 0.3s ease, visibility 0.3s ease;
 }

 .floating-btn.visible {
     opacity: 1;
     visibility: visible;
 }

      @keyframes fade-in {
            from {
                opacity: 0;
                transform: scale(0.95);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        .animate-fade-in {
            animation: fade-in 0.3s ease-out;
        }